
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
week_1_basics_n_setup/1_terraform_gcp/silent-hook-338802-0d6fd71d3ce7.json
**logs/
**.env
**__pycache__/
week_1_basics_n_setup/ny_taxi_postgres_data/